iframe {

    margin: 200px;
    border-radius: 50px;
    zoom: 1;
}

.col {

    margin-left: 900px;
    margin-top: -500px;

}

#body {

    background-color: lightslategray;

}

header {

    font-size: 150px;

}

#jumbotron {

    background-color: lightskyblue;
    height: 200px;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-radius: 40px;
}