* {
    font-family: 'Indie Flower', cursive;
    background-color: lightslategray;
}

.col {

    text-align: center;
    color: white;
    margin: 20px;
    font-size: 25px;
}

.no-gutter {
    
    margin-left: 0;
    margin-right: 0;
}

#header {

    font-size: 85px;
    letter-spacing: 12px;
    word-spacing: 50px;
    text-shadow: 10px 10px 10px blue;
     
}

#create {

    font-size: 60px;
}

#button {

    background-color: lightsalmon;
    border-radius: 25px;
    font-size: 40px;
    padding: 10px;
} 

#display {

    width: 60%;
    height: 30%;
    border-radius: 35px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    
}

#slider {

    width: 50%;
    padding: 50px;
}

#button:hover {

    color: white;
    box-shadow: 5px 5px 5px black;
    height: 100px;
}

.content {

    height: 400px;
}

#lastpass {

    color: lightskyblue;
    margin-bottom: 50px;
    margin-top: 50px;
}

#previouspasswords {

    font-size: 50px;
}

   
